@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

body {
    width: 250px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #f2f2f2;
}
body, html{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px 5px 5px;
}
#refresh{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
#statusMessage{
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 10px;
    font-weight: 400;
    font-size: 16px;
}
#statusMessage.loading{
    opacity: 1;
}
#refresh svg{
    width: 20px;
    height: 20px;
}
#countrySelector{
    height: 300px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#countrySelector a{
    text-decoration: none;
    font-size: 12px;
    display: flex;
    max-width: 50%;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    cursor: pointer;
    font-weight: 100;
    background-color: transparent;
    transition: all .2s linear;
}
#countrySelector a:hover{
    background-color: #dadada;
}
#countrySelector a img{
    display: block;
    width: 100%;
    max-width: 50px;
    height: 35px;
}
#countrySelector a span{
    margin-top: 3px;
    font-weight: 400;
    color: #1f1f24;
}
fieldset legend{
    font-size: 12px;
    font-weight: 100;
}
fieldset + fieldset {
    margin-top: 5px;
}
#summary{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#summary P{
    margin: 0;
}
#summary .summary--title{
    font-weight: 700;
    font-size: 18px;
}
#summary .summary--lang img{
    width: 50px;
}